{% extends "base.html" %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-4 border-right">
      <h2>Categories</h2>
      <br>
      <ul class="list-group">
        {% for category in categories %}
            {% if category.id == selected_category.id %}
              <a href="/category-{{category.id}}" class="list-group-item h4 active">{{ category.name }}</a>
            {% else %}
              <a href="/category-{{category.id}}" class="list-group-item h4">{{ category.name }}</a>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-7">
      <h2>
        {% if selected_category %}
          {{ selected_category.name }} <small>({{items|length}} items)</small>
        {% else %}
          Latest Items
        {% endif %}
      </h2>
      <br>
        {% for item in items %}
        <p class="h4"><a href="/item-{{item.id}}">{{item.name}}</a>&nbsp &nbsp<small><i>({{item.category.name}})</i></small></p>
        <br>
        {% endfor %}

    </div>
  </div>




{% endblock %}
